header {
    background-color: rgb(12, 44, 86);
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(12, 44, 86);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(105, 190, 40);
}

.active {
    background-color: rgb(105, 190, 40);
}

body {
    background-color: rgb(245, 245, 245);
    align-items: center;
    font-family:verdana, sans-serif;
    width: 100%;
    height: 100%;
    margin-left: 0;
}

.subbody {
    background-color: rgb(255, 255, 255);
    align-items: center;
    font-family: Lato;
    text-align: justify;
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
    border: solid rgb(255, 255, 255) 10px;
    font-family:verdana, sans-serif;
}

h1 {
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h2 {
    margin: auto;
    font-size: 1.5em;
    padding-top: 25px;
    padding-bottom: 10px;
}

h3 {
    font-family: sans-serif;
    text-align: left;
    font-weight: bold;
}

.imgLogo {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
}

.expl {
    font-size: 1em;
    font-family: sans-serif;
    font-style: italic;
}

address {
    margin-top: 50px;
    margin-left: 5px;
}

.form-submit-button input[type="submit"] {
    background: rgb(105, 190, 40);
    color: white;
    border-style: outset;
    border-color: rgb(105, 190, 40);
    height: 50px;
    width: 100px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}