<!DOCTYPE html>

<html>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    
    <head>
        <title>Photo-Localisation</title>
        <meta charset="utf-8">
    </head>
    
    <body>
    
        <header>
        
            <div id="logo">
                <img src="{{ url_for('static', filename='img/logo.png') }}" class="imgLogo"/>

            </div>
            
            <nav>
                <ul>
                    <li><a class="active" href="{{ url_for('index') }}">Acceuil</a>
                    <li><a href="{{ url_for('about') }}">Contact</a> 
                    <li><a href="{{ url_for('result') }}">Carte</a> 
                </ul>
            </nav>
            
        </header>
        
        <hr>
        
        <div class="subbody">
        
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li style="color:rgb(255,0,0)">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        
            {% block content %}{% endblock %}
            
        </div>
        
    </body>
    
    <address>Fait le 31 janvier 2021<br>Alexandre Banon.</address>
</html>
