{% extends 'base.html' %}

{% block content %}

    <h1>Localisation de photos</h1>
    
    <p>Interface permettant l'extraction des données de localisation de vos photos.</p>
    
    <br>
    
    <br>
    
    <h2>Description</h2>
    
    <p>Vous avez à renseigner une image ou un dossier contenant des images (ou d'autres dossier d'images). Ensuite une carte sera générée.</p>
    
    <br>
    
    <br>
        
    <h2>Le logiciel</h2>

    <form action="/directory/" method="post"> 
        
        <h3>Selection : </h3>
        
        <div class="submit">
            <label for="path">Tout d'abord, selectionnez un dossier d'images :</label>
            <input type="submit" value="Recherche ..."/>
        </div>
        
    </form>
    
    <br>
    
    <br> 
        
    <h3>Recherche : </h3>
    
    {% if path %}
    
        <div class="container">
        
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_progress_bar.css') }}">
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
            <script>
            
                $(document).ready(function() {
                    $('#sample_form').on('submit', function(event) {
                        event.preventDefault();
                        var count_error = 0;
                        
                        if(count_error == 0) {
                            $.ajax( {
                                url:"/result/",
                                method:"POST",
                                data:$(this).serialize(),
                                beforeSend:function() {
                                    $('#launch').attr('disabled', 'disabled');
                                    $('#process').css('display', 'block');
                                },
                                success:function(data) { 
                                    var percentage = 0;
                                    var timer = setInterval(function() {
                                        $.get("/progress/0", function(percentage, status) {
                                            progress_bar_process(percentage, timer, data);
                                        } );
                                    }, 100);
                                }
                            } )
                        }
                 
                    });
                
                    function progress_bar_process(percentage, timer, data) {
                        $('.progress-bar').css('width', percentage + '%');
                        if(percentage == 100) {
                            clearInterval(timer);
                            $('#process').css('display', 'none');
                            $('.progress-bar').css('width', '0%');
                            $('#launch').attr('disabled', false);
                            $('#success_message').html(data);
                            setTimeout(function() {
                                $('#success_message').html('');
                            }, 5000);
                        }
                    }
                    
                });
                
            </script>
                
        
            <p> &#10148; {{ path }} </p>
            
                
    
            <form action="/result/" method="post" id="sample_form">
                <input for="path" name="path" id="path" style="display:none;" value="{{ path }}"/>
                <div class="form-submit-button" align="center">
                    <input type="submit" id="launch" value="C'est parti !"/>
                </div>
            </form>
    
            <span id="success_message"></span>
            
            <div class="form-group" id="process" style="display:none;">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style=""></div>
                </div>
            </div>
        
        </div>
        
    {% else %}
    
        <p> &#10148; <i>Aucun dossier selectionné !</i> </p>
        
    {% endif %}
    
{% endblock %}
 